*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:#081120;
overflow-x:hidden;
}

a{
text-decoration:none;
}

input,
textarea,
button{
outline:none;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#1e40af;
border-radius:20px;
}
@keyframes pulse{

0%{
opacity:.5;
}

50%{
opacity:1;
}

100%{
opacity:.5;
}

}